:root {--bg: #FAFFFF;--text: #000000;--accent: #07bbbc;--semi: #07bcbc17;}
@media (prefers-color-scheme: dark) {:root {--bg: #000000;--text: #FAFFFF;--semi: #07bcbc5a;}}
body {font: 1.1em / 1.6em sans-serif;max-width: 46em;margin: 0 auto;padding: 1rem;background: var(--bg);color: var(--text);}
h1,h2,h3,h4,h5,h6 {line-height: normal;}
h1,h2,h3,h4,h5,h6,a {color: var(--accent);}
header {padding: 1.25rem 0 0;}
header>* {margin: 0;}
nav {display: flex;align-items: center;justify-content: center;}
nav .logo {margin-right: auto;}
nav>* a, .webring span {margin:  0 .85vw;}
img,video {max-width: 100%;}
pre {overflow: auto;}
footer {margin-top: 2rem;line-height: 1.3em;}
code:not(pre code), pre {background: var(--semi);padding: .3em .5em;line-height: 1.6em;}
blockquote {border-left: 5px solid var(--accent);margin: 0;padding: 0 0 0 1rem;}
footer p {margin: .65em 0;}
.webring {text-align: center;}

/** Not By AI **/
.notbyai{display: inline-flex; align-items: center; font: 1em/1 sans-serif; text-decoration: none; color: var(--text); border: .1em solid var(--text); border-radius: 0 1em 0 1em; padding: 0 .5em .2em .15em;}
.notbyai small {font-size: .6em;}
.notbyai>:first-child {font-size: 2.25em;}