body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50rem;
    margin: 0 auto;
    line-height: 1.75rem;
}
h1,h2,h3,h4,h5,h6 {
    line-height: normal;
}
h1,h2,h3,h4,h5,h6,a {
    color: #07bbbc;
}
header {
    padding: 1.25rem 0 0;
}
header>* {
    margin: 0;
}